<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bienvenue sur le site d'Alberto</title>

    {# TODO : il manque description, meta name, author !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('assets/styles/css/styles.css') }}">
</head>

<header>
    <nav class="nav">
        <a href="{{ path('home') }}"><img class="image_logo" src="{{ asset('assets/uploads/images/logo.jpg') }}" alt="image_logo"></a>
        <a href="{{ path('about') }}">Qui sommes-nous ?</a>
        {% if app.user %}
            <a href="{{ path('categories') }}">Voir les catégories</a>
            <span>Bonjour {{ app.user.name }}</span>
            <a href="{{ path('app_logout') }}">Déconnexion</a>

        {% else %}
            <a href="{{ path('create_user') }}">Inscription</a>
            <a href="{{ path('app_login') }}">Connexion</a>
        {% endif %}
    </nav>
</header>
    {% for message in app.flashes('success') %}
        <p class="message-success">{{ message }}</p>
    {% endfor %}

{% block main %}
    <div class="hello">
    </div>
    <section class="about">
        <div class="about-accueil">
            <p>There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by injected
                humour, or randomised words which don't look even slightly believable.
                If you are going to use a passage of Lorem Ipsum, you need to be
                sure there isn't anything embarrassing hidden in the middle of text.
                All the Lorem Ipsum generators on the Internet tend to repeat predefined
                chunks as necessary, making this the first true generator on the Internet.
                It uses a dictionary of over 200 Latin words, combined with a handful of model
                sentence structures, to generate Lorem Ipsum which looks reasonable.
                The generated Lorem Ipsum is therefore always free from repetition,
                injected humour, or non-characteristic words etc</p>
        </div>
        <div class="about-pages">
            <div>
                <h2>Page 1</h2>
                <p>There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in
                    some form, by injected humour, or randomised words which
                    don't look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't anything
                    embarrassing hidden in the middle of text. All</p>
            </div>
            <div>
                <h2>Page 2</h2>
                <p>the Lorem Ipsum generators on the Internet tend to repeat
                    predefined chunks as necessary, making this the first true
                    generator on the Internet. It uses a dictionary of over 200
                    Latin words, combined with a handful of model sentence structures,
                    to generate Lorem Ipsum which looks reasonable. The generated
                    Lorem Ipsum is therefore always free from repetition, injected humour,
                    or non-characteristic words etc</p>
            </div>
            <div>
                <h2>Page 3</h2>
                <p>the Lorem Ipsum generators on the Internet tend to repeat
                    predefined chunks as necessary, making this the first true
                    generator on the Internet. It uses a dictionary of over 200
                    Latin words, combined with a handful of model sentence structures,
                    to generate Lorem Ipsum which looks reasonable.
                    The generated Lorem Ipsum is therefore always free from repetition,
                    injected humour, or non-characteristic words etc</p>
            </div>
        </div>
    </section>
{% endblock %}

<footer class="footer">
</footer>
    <script src="{{ asset('assets/js/script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.js"></script>
</html>