 {% block main %}
        <section>
            <article class="category">
                <img class="category-img" src="{{ asset('assets/uploads/images/'~ category.image ) }}" alt="{{ category.titre }}">
                <h1>{{ category.titre}}</h1>
                <p>{{ category.texte }}</p>
                <a href="{{ path('admin_update_category',{'id':category.id}) }}">Modifier cette catégorie</a>
                <a href="{{ path('admin_delete_category',{'id':category.id}) }}">Supprimer cette catégorie</a>
                <a href="{{ path('admin_categories') }}">Voir toutes les catégories</a>
            </article>

        </section>
    {% endblock %}