{% extends'base.html.twig' %}

{% block main %}
    <h1>Insertion ou modification de Catégorie</h1>

    {{ form_start(form) }}

    {{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'form-cocktail-titre-label'}}) }}
    {{ form_widget(form.titre, {'attr': {'class': 'form-cocktail-titre-widget'}}) }}
    {{ form_errors(form.titre) }}

    {{ form_label(form.texte, 'Texte', {'label_attr': {'class': 'form-category-titre-label'}}) }}
    {{ form_widget(form.texte, {'attr': {'class': 'form-category-titre-widget'}}) }}
    {{ form_errors(form.texte) }}

    {{ form_widget(form.submit) }}

    {{ form_end(form) }}

{% endblock %}