{% extends 'home/base.html.twig' %}


{% block main %}
    <div class="insertupdate-drink">
        <h1 class="insertupdatedrink">Insertion ou modification de {% if isCocktail %}Cocktail{% else %}Mocktail{% endif %} </h1>

        {# utiliser la fonction twig, lui passer la variable qui contient mon formulaire depuis le controleur
        = generer tous les inputs + label de mon formulaire #}

        {{ form_start(form) }}
        {{ form_label(form.ingredients, 'Ingrédients', { 'label_attr': {'class': 'form-cocktail-label'}})}}
        {{ form_widget(form.ingredients, {'attr': {'class': 'form-cocktail-ingredients-widget form-control'}}) }}
        {{ form_errors(form.ingredients) }}



        {{ form_label(form.preparation, 'Préparation', { 'label_attr': {'class': 'form-cocktail-label'}})}}
        {{ form_widget(form.preparation, {'attr': {'class': 'form-cocktail-preparation-widget form-control'}}) }}
        {{ form_errors(form.preparation) }}


        {{ form_label(form.titre, 'Titre', { 'label_attr': {'class': 'form-cocktail-label'}})}}
        {{ form_widget(form.titre, {'attr': {'class': 'form-cocktail-titre-widget form-control'}}) }}
        {{ form_errors(form.titre) }}

        {{ form_widget(form.submit,{'label': 'Envoyer'}) }}
        {{ form_end(form) }}

    </div>
{% endblock %}