{% extends 'base.html.twig' %}

{% block main %}
    <section class="category {{ category|replace({' ': '', '&': ''}) }}">
        {% for drink in drinks %}
        <article class="drinks {{ drink.titre|replace({' ': '', '&': ''}) }}">
            <p><u>{{ drink.titre}}</u></p>
            <p>Ingredients :</p>
            <p class="ingredients">{{ drink.ingredients }}</p>
            <p>Préparation :</p>
            <p class="preparation">{{ drink.preparation }}</p>
        </article>
        {% endfor %}
    </section>
{% endblock %}

{# id="show-category" dans la section #}