{% extends 'home/base.html.twig' %}

    {% block main %}
        <div class="formulaire_inscription">
            <div class="formWrapper">
                <h1 class="inscriptionTitle">Inscription</h1>

                {{ form_start(form) }}

                <div class="inputWrapper">
                    {{ form_widget(form.name, {'attr': {'class': 'form-name-titre-widget', 'placeholder': ' '}}) }}
                    {{ form_label(form.name, 'Prenom', {'label_attr': {'class': 'form-name-titre-label'}}) }}
                    {{ form_errors(form.name) }}
                </div>

                <div class="inputWrapper">
                    {{ form_widget(form.lastname, {'attr': {'class': 'form-lastname-titre-widget', 'placeholder': ' ' }}) }}
                    {{ form_label(form.lastname, 'Nom', {'label_attr': {'class': 'form-lastname-titre-label'}}) }}
                    {{ form_errors(form.lastname) }}
                </div>

                <div class="inputWrapper">
                    {{ form_widget(form.email, {'attr': {'class': 'form-email-titre-widget', 'placeholder': ' '}}) }}
                    {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-email-titre-label'}}) }}
                    {{ form_errors(form.email) }}
                </div>

                <div class="inputWrapper">
                    {{ form_widget(form.password, {'attr': {'class': 'password-titre-widget', 'placeholder': ' '}}) }}
                    {{ form_label(form.password, 'Mot de passe', {'label_attr': {'class': 'form-password-titre-label'}}) }}
                    {{ form_errors(form.password) }}
                </div>
                {{ form_widget(form.envoyer) }}

                {{ form_end(form) }}
            </div>
        </div>
    {% endblock %}